
@font-face {
  font-family: "Gotham Book";
  src: url('../public/GothamBook.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Medium";
  src: url('../public/GothamMedium.ttf');
  font-weight: normal;
  font-style: normal;
}


html,
body {
  padding: 0;
  margin: 0;
  background-color: white;
  color: #005B36;
  font-family: 'Gotham Book', sans-serif;
  font-size: calc(10px + (12 - 10) * ((100vw - 720px) / (1080 - 720)));
  min-width: 700px;
  /* font-size: calc(8px + 6 * ((100vw - 320px) / 680)); */
}

tspan {
  font-family: "Gotham Medium";
}

a {
  color: inherit;
  text-decoration: none;
  font-family: 'Gotham Book', sans-serif;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #005B36;
    background: #F2F2F2;
    /* color: white;
    background: #EFE7D0; */
  }
}

.Navbar-Button{
  color:white;
  font-family: 'Gotham Medium', sans-serif;
}

.Navbar-Button:hover,
.Navbar-Button:focus,
.Navbar-Button-active{
  color:#afb0ae;
  font-family: 'Gotham Book', sans-serif;
}


.MuiSelect-select {
  min-width: 200px;
}