html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f2f2f2;
  color: #005B36;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #005B36;
    background: #F2F2F2;
  }
}

.Navbar-Button{
  color:white;
}

.Navbar-Button:hover,
.Navbar-Button:focus,
.Navbar-Button-active{
  color:#95E338;
  /* background-color:transparent; */
}

.MuiSelect-select {
  min-width: 200px;
}